/* codrops */

/* durer font, from: https://iframe.gumroad.com/l/durer-display-font, by *iframe design studio* */
@font-face {
  font-family: Durer;
  src: url(Durer.ttf);
}

/*Caustics font, from: https://www.behance.net/gallery/137493811/Caustics-Modern-Serif-Typeface, by Sohel Studio*/
@font-face {
  font-family: Caustics;
  src: url(CausticsDemo.otf);
}

/*Mak font, by Valentyn Tkachenko*/
@font-face {
  font-family: Mak;
  src: url(MAK.otf);
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #b7b19f;
	--color-link: #000;
	--color-link-hover: #000;
	--color-heading: #111;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: nimbus-sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--ratio: 0.75;
	--grid-item-height: 32vw;
	--grid-item-width: calc(var(--grid-item-height) * var(--ratio));
	--thumb-height: 5vw;
	--thumb-width: calc(var(--thumb-height) * var(--ratio));
}

body p {
    font-family: Mak;
    font-size: 46px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --ratio: 0.75;
    transform: scale(1, -1);
}

.heading {
	color: var(--color-heading);
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	margin-top: -6vw; /*-78px;*/
	width: 100%;
	font-size: 12.25vw;
	z-index: 1000;
	pointer-events: none;
	/*font-family: meno-banner, serif;*/
    font-family:Mak;
	font-weight: 300;
	/*text-transform: uppercase;*/
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	will-change: transform, opacity;
	transform-origin: 50% 40%;
}

.heading--up {
	display: block;
}

.heading--down {
	bottom: 0;
	top: auto;
	margin-top: 0;
	margin-bottom: -6vw;
	transform-origin: 50% 60%;
}


.columns {
	width: 100%;
	position: relative;
	padding: 0 3rem;
	display: flex;
	justify-content: center;
}

.column-wrap {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 5vh 0 15vh;
}

.column-wrap--height {
	height: 100vh;
	flex-direction: column-reverse;
}

.column {
	position: relative;
	display: block;
	will-change: transform;
}

.view-content .columns,
.view-content .column {
	pointer-events: none !important;
}

.column-wrap--height .column {
	flex-direction: column-reverse;
	display: flex;
}

.column__item {
	margin: 0;
	position: relative;
	z-index: 1;
}

.column__item-imgwrap {
	width: var(--grid-item-width);
	height: var(--grid-item-height);
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
	margin: 8vh 1vw 0;
}

.column__item-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 20%;
	backface-visibility: hidden;
}

.column__item-caption {
	text-transform: uppercase;
	padding: 0 3vw;
	margin-top: 0.5rem;
}

.content {
	position: fixed;
	pointer-events: none;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 9rem 1fr calc(70vh - var(--thumb-height) - 1.6rem) 1fr;
	grid-template-columns: 100%;
	grid-template-areas: '...'
		'back'
		'content'
		'nav';
}

.view-content .content {
	pointer-events: auto;
	opacity: 1;
	z-index: 2000;
}

.content__item {
	position: absolute;
	opacity: 0;
	height: 0;
	grid-area: content;
	display: flex;
	flex-direction: column;
}

.content__item--current {
	opacity: 1;
	position: relative;
	height: 100%;
}

.content__item-title {
	opacity: 0;
	grid-area: title;
	margin: 1rem 0 0 1.5rem;
	justify-self: center;
	font-family: meno-banner, serif;
	font-weight: 300;
	font-style: italic;
	font-size: 9vh;
	white-space: nowrap;
	transform-origin: 50% 80%;
	will-change: transform, opacity;
}

.content__item-text {
	opacity: 0;
	text-transform: uppercase;
	grid-area: text;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 0 1.5rem 1.5rem;
	text-align: right;
	margin: auto 0 0 auto;
}

.content__item-text::before {
	content: '';
	z-index: 1000;
	pointer-events: none;
	background: linear-gradient(to top, var(--color-bg), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.content__item-text span:last-child {
	display: block;
	margin-top: 1rem;
}

.content__nav {
	opacity: 0;
	grid-area: nav;
	align-self: end;
	position: relative;
	overflow: hidden;
	padding: 0 1rem 1rem;
	display: flex;
}

.content__nav-wrap {
	position: relative;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	height: calc(var(--thumb-height) + 0.6rem);
	overflow: hidden;
	justify-content: center;
	padding: 0 10px;
}

.content__nav-wrap:hover {
	cursor: not-allowed;
}

.content__nav-wrap::before,
.content__nav-wrap::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -5px;
	width: 7px;
	height: 10px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNiAwIDEgNWw1IDUiIHN0cm9rZT0iIzAwMCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
}

.content__nav-wrap::before {
	left: 0;
}

.content__nav-wrap::after {
	right: 0;
	transform: rotate(180deg);
}

.content__nav-item {
	flex: none;
	height: var(--thumb-height);
	width: var(--thumb-width);
	margin: 0.3rem;
	background-size: cover;
	background-position: 50% 20%;
	will-change: transform, opacity;
}

@media screen and (max-width: 53em) {
    .heading {
        margin-top:-14px;
    }
}
