@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/* Head font */
@font-face {
    font-family: Radwave;
    src: url(RadwaveFont-Demo.otf)
}

/* Sign Rathi, from: https://www.behance.net/dwiahidian, by Lemonthe . @dwiahidian*/
@font-face {
  font-family: SignRathi;
  src: url(SignRathi.ttf);
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:link {
    text-decoration: none;
}
body,
html {
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}

a {
    color:black;
    text-decoration: none;
}

.links a:hover, .links a:hover > * { background-color:#000;color:#fff;text-decoration:none;margin:0; }

/* Main section */

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.col-1,
.col-2,
.col-3 {
    margin: 1rem;
    width: 400px;
    height: 800px;
    max-height: 94vh;
}
.col-1 {
    border: 4px solid black;
    border-top-left-radius: 50px;
}
.profile-img {
    width: 100%;
    height: auto;
    border-bottom: 4px solid black;
}
.profile-img img {
    width: 100%;
    height: 68vh;
    object-fit: cover;
    -webkit-clip-path: inset(10px round 40px 0 0 0);
    clip-path: inset(10px round 40px 0 0 0);
}

.main-text {
    border-bottom: 4px solid black;
    user-select:none;
}
.main-text h1 {
    margin: 12px;
    font-family: Radwave;
    font-size: 38px;
}

.signature {
    user-select:none;
}

.signature p {
    font-family: SignRathi;
    font-size: 32px;
    text-align: right;
    padding:0;
    margin: 18px;
}

/* CONTACT section */
.col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid black;
    border-bottom-right-radius: 50px;
}

.contact-header {
    width: 100%;
    height: 36vh;
    border-bottom: 4px solid black;
    user-select:none;
}
.contact-header h1 {
    font-size: 58px;
    font-family: Radwave;
    margin: 12px;
}
.contact-header img {
    width: 65px;
    height: auto;
    margin: 12px;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}
.col-2 span:first-child {
    border-bottom: 4px solid black;
}
.col-2 span h1:not(:first-child) {
    font-size:8rem;
    margin: 0;
}
.social {
    width: 100%;
    height: 40vh;
    border-bottom: 4px solid black;
}

.s-center h4 {
    border: 4px solid black;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 22px;
    line-height: 3rem;
    padding-left: 6px;
    margin: 12px;
}

.s-center h4::before {
    content: '\22B6';
    margin-right:6px;
    user-select:none;
}


.col-2 .social {
    overflow-y: auto;
}
.social::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.social::-webkit-scrollbar-track {
    background-color: white; 
    border-radius: 10px;
}
.social::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
.links {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    margin: 12px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.col-3 {
    display: flex;
    flex-direction: column;

    border: 4px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.info-header {
    width: 100%;
    height: 34vh;
    border-bottom: 4px solid black;
    user-select:none;
}
.info-header h1 {
    font-size: 38px;
    font-family: Radwave;
    margin: 12px;
}
.col-3 .scroll {
    overflow-y: auto;
    margin-bottom: 40px;
    padding: 10px;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scroll::-webkit-scrollbar-track {
    background-color: white; 
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.scroll h3::before {
    content:'\27A5';
    margin-right:6px;
    user-select:none;
}

.scroll h4::before {
    content:'~';
    margin-right:6px;
    user-select:none;
}

/* Cursor */
svg {
    display: none;
}
.Cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: url("#goo");
}
.Cursor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    .col-1,
    .col-2,
    .col-3 {
        width: 310px;
        height: 560px;
    }
    .signature h4 {
        font-size: 20px;
        margin: 6px;
        text-align: right;
    }
    .main-text h1 {
        font-size: 1.2em;
    }
    .col-2 .borders span {
        margin-top: 8px;
    }
    .profile-img img {
        height: auto;
    }
    .contact-header {
        height: auto;
    }
    .contact-header img {
        width: 42px;
        user-select:none;
    }
    .social {
        height: auto;
    }
    .s-center h4 {
        font-size: 16px !important;
        line-height: 2rem;
    }
    .links {
        height: 8vh;
        font-size: 12px;
    }
    .info-header h1 {
        font-size: 1.8em;
    }
}
