/* Radwave, from: https://indieground.net/product/radwave-font/ */
@font-face {
    font-family: Radwave;
    src: url(RadwaveFont-Demo.otf)
}

/* Mak, from: https://www.behance.net/gallery/89569065/MAK-Cyrillic-Latin-free-font */
@font-face {
    font-family: Mak;
    src: url(Mak.ttf);
}

/* Sign Rathi, from: https://www.behance.net/dwiahidian, by Lemonthe . @dwiahidian*/
@font-face {
    font-family: SignRathi;
    src: url(SignRathi.ttf);
}

* {
    padding:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select:none;
    pointer-events:none;
}
html,
body {
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    margin:0;
    font-family: "Times New Roman", Times, serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, rgb(0,0,0,0) 100%);
    background-blend-mode: screen;
}

body {
}

a {
    color:black;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.links a:hover, .links a:hover > * { background-color:#000;color:#fff;text-decoration:none;margin:0; }

/* Main section */
.container {
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-gap:2vw;
    justify-content:center;
    align-items:center;
}

.col-1,
.col-2,
.col-3 {
    width:24em;
    height:90vh;
    max-width:24em;
    max-height:100vh;
    display:flex;
    flex-direction:column;
    justify-items:center;
    border: 2px solid black;
}
/*grid column 1*/
.col-1 {
    border-top-left-radius: 50px;
}
.col-1 > :nth-child(-n+2) {
    border-bottom:2px solid black;
}
.profile-img {
    width: 100%;
    height: auto;
    max-width:380px;
}
.profile-img img {
    width: 100%;
    height: 68vh;
    object-fit: cover;
    -webkit-clip-path: inset(10px round 40px 0 0 0);
    clip-path: inset(10px round 40px 0 0 0);
}

.main-text {
    background-image: repeating-linear-gradient(90deg, gray, lightyellow 1px, transparent 1px, transparent 7px);
    background-size: 16px;
}

.main-text h1 {
    margin: 12px;
    font-family: Radwave;
    font-size: 38px;
}

.signature p {
    font-family: SignRathi;
    font-size: 32px;
    text-align: right;
    padding:0;
    margin: 0;
}

/* CONTACT section */
.col-2 {
    border-bottom-right-radius: 50px;
}
.col-2 > :nth-child(-n+2) {
    border-bottom:2px solid black;
}

.contact-header {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "text arrow""star arrow";
    background: linear-gradient(to right, rgba(255,255,102,.6), rgba(0, 0, 0, 0)),url(https://grainy-gradients.vercel.app/noise.svg);
}

.contact-header h1 {
    grid-area: text;
    font-size: 58px;
    font-family: Radwave;
    margin: 12px;
}
.contact-header img {
    grid-area:star;
    width: 65px;
    height: 65px;
    margin: 1em;
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:center;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}

.arrow {grid-area:arrow;}

.arrow svg {
    transform: scale(-1);
    stroke: #000;
    stroke-width: 3px;
    width: auto;
    height: 100%;
    padding:8px;
}

.col-2 span h1:not(:first-child) {
    font-size:8rem;
    margin: 0;
}

.s-center h4 {
    border: 2px solid black;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 22px;
    line-height: 3rem;
    padding-left: 6px;
    margin: 12px;
}

.s-center h4::before {
    content: '\22B6';
    margin-right:6px;
}

.col-2 .social {
    overflow-y: auto;
}
.social * {
    pointer-events:all;
}
.social::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.social::-webkit-scrollbar-track {
    background-color: white; 
    border-radius: 10px;
}
.social::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.col-2 .links {
    padding:3vh;
    justify-content:space-around;
}

.links {
    display: flex;
    margin: 12px;
    font-family: Mak;
    text-transform:lowercase;
}
.links * {
    pointer-events:all;
}

.line {
    border-left: 1px solid black;
    height:100px;
}

/*grid column 3*/
.col-3 {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.col-3 .info-header {
    border-bottom: 2px solid black;
}

.info-header h1 {
    font-size: 38px;
    font-family: Radwave;
    margin: 12px;
}
.scroll {
    pointer-events:all;
}
.scroll,
.scroll * {
    pointer-events:all;
    user-select:text;
}
.col-3 .scroll {
    overflow-y: auto;
    margin-bottom: 40px;
    padding: 10px;
}
.scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scroll::-webkit-scrollbar-track {
    background-color: white; 
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.scroll h3::before {
    content:'\27A5';
    margin-right:6px;
}

.scroll h4::before {
    content:'~';
    margin-right:6px;
}

/* Cursor */
svg {
    display: none;
}
.Cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: url("#goo");
}
.Cursor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
    .container {
        grid-template-columns:auto;
        grid-gap:16vw;
        padding-top:3vmax;
    }
    .col-1,
    .col-2,
    .col-3 {
        width:96vw;
        height:100vh;
    }
    .signature h4 {
        font-size: 2em;
        margin: 6px;
        text-align: right;
    }
    .main-text h1 {
        font-size: 2em;
    }
    .col-2 .borders span {
        margin-top: 8px;
    }
    .col-2 .links {
        padding:8vh;
    }
    .profile-img img {
        height: auto;
    }
    .contact-header {
        height: auto;
    }
    .social {
        height: auto;
    }
    .s-center h4 {
        font-size: 16px !important;
        line-height: 2rem;
    }
    .links {
        height: 8vh;
        font-size: 12px;
    }
    .info-header h1 {
        font-size: 1.8em;
    }
}
